* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.thongtincoban{
    border: solid 2px #2aabd2;
    width: 600px;
    height: 150px;
}
.cangiua{
    margin-left: 50px;
    margin-top: 20px ;
}
.thongtinchitiet{
    border: solid 2px #2aabd2;
    width: 600px;
    height: 250px;
    margin-top: 50px;
}
p.chuchen {
    position: fixed;
    margin-top: -11px;
    margin-left: 17px;
    padding: 0px 3px;
    background-color: white;
}

input.chinhhovaten {
    width: 250px;
}
input, textarea {
    margin-left: 10px;
}
.dangkylamlai{
    margin-top: 50px;
    margin-left: 70px;
}
