[title="phude"]{
    color: yellow;
}
li {
    margin: 0px;
    padding: 0px;
    color: orange;
}
.thuoctinhclass{
    color: red;
}
.thuoctinhclass li{
    color: #2aabd2;
}
.thuoctinhclass li li{
    color: blueviolet;
}

p,b{
    color: yellow;
}
h1{
    color: #1f7e9a;
}
h3 {
    color: ;
}
.test:hover{
    color: #2aabd2;
}
test
a:hover{
    color: #8a6d3b;
}
a:active{
    color: orange;
}
a:visited{
    color: pink;
}
div{
    color: white;
    background: blue;
}
div:first-letter{color: }
col