[title="phude"]{
    color: yellow;
}
li {
    margin: 0px;
    padding: 0px;
    color: orange;
}
.thuoctinhclass{
    color: red;
}
.thuoctinhclass li{
    color: #2aabd2;
}
.thuoctinhclass li li{
    color: blueviolet;
}

p,b{
    color: yellow;
}
h1{
    color: #1f7e9a;
}
h3 {
    color: ;
}